body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;  
    
}

h3 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: auto;
}

#home-board, #guest-board {
    background: black;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border-radius: 5px;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size:60px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    
    
}
button {
    background: none;
    color: white;
    border: 1px solid white;
    height: 8vh;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border-radius: 5px;

}